USE [master]
GO
/****** Object:  Database [API Sithec]    Script Date: 9/23/2022 8:46:19 PM ******/
CREATE DATABASE [API Sithec]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'API Sithec', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\API Sithec.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'API Sithec_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\API Sithec_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [API Sithec].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [API Sithec]
GO
/****** Object:  Table [dbo].[Humano]    Script Date: 9/23/2022 8:46:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Humano](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](200) NOT NULL,
	[Sexo] [varchar](30) NOT NULL,
	[Edad] [int] NOT NULL,
	[Altura] [float] NOT NULL,
	[Peso] [int] NOT NULL,
 CONSTRAINT [PK_Humano] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
